/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  background-color: #fefdfd;
}

@font-face {
  font-family: logo;
  src: url(../word-fonts/Bivoac\ Reguler\ Demo.otf);
}
/* Portrait phones and smaller */
@media (max-width: 480px) {
  /*Header Style*/
  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    background-color: #d3ae64;
  }

  .index-header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 116px;
  }

  .index-header .logo-container .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  /* Navigation Styles */
  .index-header .index-nav .index-ul {
    position: absolute;
    top: 116px;
    right: 0;
    background-color: #d3ae64;
    width: 120px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  .index-header .index-nav .index-ul .index-li .index-link {
    font-size: 16px;
    color: #111;
    font-family: lato;
    text-decoration: none;
  }

  /* Logo Styles */
  .index-header .logo-container .logo-link .logo-name {
    color: #000;
    font-family: logo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Main Home Section */
  main .home {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/image1.png);
    background-size: cover;
    animation: slider 25s infinite linear;
  }

  @keyframes slider {
    0% {
      background-image: url(../img/image1.png);
    }

    15% {
      background-image: url(../img/image2.jpg);
    }

    30% {
      background-image: url(../img/image3.jpg);
    }

    45% {
      background-image: url(../img/image4.jpg);
    }

    60% {
      background-image: url(../img/image5.png);
    }

    75% {
      background-image: url(../img/image6.jpg);
    }
  }

  /*about page styling*/

  main .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main .about .about-figure {
    width: 300px;
    margin: 24px;
  }

  main .about .about-figure .about-img {
    width: 100%;
  }

  main .about article {
    margin-bottom: 24px;
  }

  main .about article p {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  /*services styling*/
  main .service,
  main .menu,
  main .order-online,
  main .contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .service .service-ul,
  main .menu .menu-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
  }

  main .service .service-ul .service-li {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 110px;
    gap: 10px;
  }

  main .service .service-ul .service-li h3 {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .service .service-ul .service-li article p {
    color: #000;

    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /*menu styling*/
  main .menu .menu-ul .menu-li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
  }

  main .menu .menu-ul {
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  main .menu .menu-ul .menu-li figure img {
    width: 100%;
    height: 100%;
  }

  main .menu .menu-ul .menu-li article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  main .menu .menu-ul .menu-li article h2 {
    color: #000;

    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .menu .menu-ul .menu-li article p {
    color: #000;

    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*order online styling*/

  main .order-online figure {
    width: 300px;
    margin-bottom: 25px;
  }

  main .order-online figure img {
    width: 100%;
  }

  main .order-online form,
  main .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
    margin: 25px auto;
    width: 100%;
    background-color: #d3ae64;
  }

  main .order-online article,
  main .contact article {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .order-online article h2,
  main .contact form article h2 {
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  main .order-online .name,
  main .order-online .address,
  main .contact form .name,
  main .contact form .email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  main .order-online .name input,
  main .order-online .address input,
  main .contact form .name input,
  main .contact form .email input {
    border-radius: 10px;
    border: 1px solid #000;
    flex: 1 0 0;
    background: #fff;
    padding: 5px 2px;
  }

  main .order-online .order,
  main .contact form .contact-us {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  main .order-online .order textarea,
  main .contact form .contact-us textarea {
    width: 300px;
    resize: none;
  }

  main .order-online form button,
  main .contact form button {
    align-self: flex-start;
    display: flex;
    width: 99px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #111;
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
    border: none;
    text-align: center;
  }

  /*contact styling*/

  main .contact ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 24px;
    gap: 10px;
  }

  main .contact ul li figure {
    width: 45px;
  }

  main .contact ul li figure i {
    width: 100%;
  }

  main .contact ul li figure .fa-square-facebook {
    color: #4267b2;
  }

  main .contact ul li figure .fa-square-twitter {
    color: #1da1f2;
  }

  main .contact ul li figure .fa-handshake {
    color: #0072b1;
  }

  /* Footer Styles */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #d3ae64;
    padding: 1rem;
    margin-top: auto;
  }

  footer .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-ul .footer-li {
    display: flex;
    gap: 20px;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  footer .footer-ul .footer-li .icon {
    color: #ea4335;
  }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
  /*Header Style*/
  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    background-color: #d3ae64;
  }

  .index-header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 116px;
  }

  .index-header .logo-container .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  /* Navigation Styles */
  .index-header .index-nav .index-ul {
    position: absolute;
    top: 116px;
    right: 0;
    background-color: #d3ae64;
    width: 120px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  .index-header .index-nav .index-ul .index-li .index-link {
    font-size: 16px;
    color: #111;
    font-family: lato;
    text-decoration: none;
  }

  /* Logo Styles */
  .index-header .logo-container .logo-link .logo-name {
    color: #000;
    font-family: logo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Main Home Section */
  main .home {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/image1.png);
    background-size: cover;
    animation: slider 25s infinite linear;
  }

  @keyframes slider {
    0% {
      background-image: url(../img/image1.png);
    }

    15% {
      background-image: url(../img/image2.jpg);
    }

    30% {
      background-image: url(../img/image3.jpg);
    }

    45% {
      background-image: url(../img/image4.jpg);
    }

    60% {
      background-image: url(../img/image5.png);
    }

    75% {
      background-image: url(../img/image6.jpg);
    }
  }

  /*about page styling*/

  main .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main .about .about-figure {
    width: 100%;
    margin: 24px;
  }

  main .about .about-figure .about-img {
    width: 100%;
  }

  main .about article {
    margin-bottom: 24px;
  }

  main .about article p {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  /*services styling*/
  main .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .service .service-ul,
  main .menu .menu-ul,
  main .order-online,
  main .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
  }

  main .service .service-ul .service-li {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 110px;
    gap: 10px;
  }

  main .service .service-ul .service-li h3 {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .service .service-ul .service-li article p {
    color: #000;

    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /*menu styling*/
  main .menu .menu-ul .menu-li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
  }

  main .menu .menu-ul {
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  main .menu .menu-ul .menu-li figure img {
    width: 100%;
    height: 100%;
  }

  main .menu .menu-ul .menu-li article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  main .menu .menu-ul .menu-li article h2 {
    color: #000;

    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .menu .menu-ul .menu-li article p {
    color: #000;

    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  /*online order styling*/

  main .order-online figure {
    width: 300px;
    margin-bottom: 25px;
  }

  main .order-online figure img {
    width: 100%;
  }

  main .order-online form,
  main .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 25px;
    margin: 25px auto;
    width: 100%;
    background-color: #d3ae64;
  }

  main .order-online article,
  main .contact article {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .order-online article h2,
  .contact form article h2 {
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  main .order-online .name,
  main .order-online .address,
  main .contact form .name,
  main .contact form .email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  main .order-online .name input,
  main .order-online .address input,
  main .contact form .name input,
  main .contact form .email input {
    border-radius: 10px;
    border: 1px solid #000;
    flex: 1 0 0;
    background: #fff;
    padding: 5px 2px;
  }

  main .order-online .order,
  main .contact form .contact-us {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  main .order-online .order textarea,
  main .contact form .contact-us textarea {
    width: 300px;
    resize: none;
  }

  main .order-online form button,
  main .contact form button {
    align-self: flex-start;
    display: flex;
    width: 99px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #111;
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
    border: none;
    text-align: center;
  }

  /*contact styling*/

  main .contact ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 24px;
    gap: 10px;
  }

  main .contact ul li figure {
    width: 60px;
  }

  main .contact ul li figure i {
    width: 100%;
  }

  main .contact ul li figure .fa-square-facebook {
    color: #4267b2;
  }

  main .contact ul li figure .fa-square-twitter {
    color: #1da1f2;
  }

  main .contact ul li figure .fa-handshake {
    color: #0072b1;
  }

  /* Footer Styles */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #d3ae64;
    padding: 1rem;
    margin-top: auto;
  }

  footer .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-ul .footer-li {
    display: flex;
    gap: 20px;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  footer .footer-ul .footer-li .icon {
    color: #ea4335;
  }
}

@media only screen and (min-width: 500px) {
  /*services styling*/
  main .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .service .service-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    list-style: none;
    gap: 10px;
    margin-top: 50px;
  }

  main .service .service-ul .service-li {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 110px;
    gap: 10px;
  }

  main .service .service-ul .service-li h3 {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .service .service-ul .service-li article p {
    color: #000;

    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

@media only screen and (min-width: 700px) {
  .index-header .index-nav .index-ul {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: transparent;
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  /* Main Home Section */
  main .home {
    width: 500px;
    height: 115px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/image1.png);
    background-size: cover;
    animation: slider 25s infinite linear;
  }

  @keyframes slider {
    0% {
      background-image: url(../img/image1.png);
    }

    15% {
      background-image: url(../img/image2.jpg);
    }

    30% {
      background-image: url(../img/image3.jpg);
    }

    45% {
      background-image: url(../img/image4.jpg);
    }

    60% {
      background-image: url(../img/image5.png);
    }
  }

  .index-header .index-nav .index-ul .index-li .index-link {
    font-size: 16px;
    color: #111;
    font-family: lato;
    text-decoration: none;
  }

  main .service .service-ul {
    gap: 20px;
  }
  /*online order styling*/
  main .order-online,
  main .contact {
    display: grid;
    grid-template-columns: no-repeat 350px 350px;
    grid-template-rows: no-repeat 350px 350px;
    grid-template-areas: "form img";
    justify-items: center;
    align-items: center;
    gap: 30px;
    margin-bottom: 25px;
  }

  main .contact {
    grid-template-areas: "sm contact-form";
  }

  main .order-online figure {
    width: 350px;
    margin: 0px;
    grid-area: img;
  }

  main .order-online figure img {
    width: 100%;
  }

  main .order-online form,
  main .contact form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 0px;
    width: 280px;
    margin-top: 25px;
    background-color: #d3ae64;
    grid-area: form;
  }

  main .contact form {
    grid-area: contact-form;
  }

  main .order-online article,
  main .contact article {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main .order-online article h2,
  main .contact form article h2 {
    color: #000;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  main .order-online .name,
  main .order-online .address,
  main .contact form .name,
  main .contact form .email {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 6px;
  }

  main .order-online .name input,
  main .order-online .address input,
  main .contact form .name input,
  main .contact form .email input {
    border-radius: 10px;
    border: 1px solid #000;
    flex: 1 0 0;
    background: #fff;
    padding: 5px 2px;
  }

  main .order-online .order,
  main .contact form .contact-us {
    display: flex;
    flex-direction: column;
    gap: 6px;
    width: 100%;
  }

  main .order-online .order textarea,
  main .contact form .contact-us textarea {
    width: 280px;
    resize: none;
  }

  main .order-online form button,
  main .contact form button {
    align-self: flex-start;
    display: flex;
    width: 99px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #111;
    color: #fff;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    outline: none;
    border: none;
    text-align: center;
    margin-bottom: 20px;
  }

  /*contact styling*/

  main .contact ul {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin-top: 24px;
    gap: 10px;
    grid-area: sm;
  }

  main .contact ul li figure {
    width: 100px;
  }

  main .contact ul li figure i {
    width: 100%;
  }

  main .contact ul li figure .fa-square-facebook {
    color: #4267b2;
  }

  main .contact ul li figure .fa-square-twitter {
    color: #1da1f2;
  }

  main .contact ul li figure .fa-handshake {
    color: #0072b1;
  }
}

@media only screen and (min-width: 720px) {
}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {
  /*Header Style*/
  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    background-color: #d3ae64;
  }

  .index-header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 116px;
  }

  .index-header .logo-container .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  /* Navigation Styles */
  .index-header .index-nav .index-ul {
    position: absolute;
    top: 116px;
    right: 0;
    background-color: #d3ae64;
    width: 120px;
    height: 274px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  .index-header .index-nav .index-ul .index-li .index-link {
    font-size: 16px;
    color: #111;
    font-family: lato;
    text-decoration: none;
  }

  /* Logo Styles */
  .index-header .logo-container .logo-link .logo-name {
    color: #000;
    font-family: logo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Main Home Section */
  main .home {
    width: 100%;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/image1.png);
    background-size: cover;
    animation: slider 25s infinite linear;
  }

  @keyframes slider {
    0% {
      background-image: url(../img/image1.png);
    }

    15% {
      background-image: url(../img/image2.jpg);
    }

    30% {
      background-image: url(../img/image3.jpg);
    }

    45% {
      background-image: url(../img/image4.jpg);
    }

    60% {
      background-image: url(../img/image5.png);
    }

    75% {
      background-image: url(../img/image6.jpg);
    }
  }

  /*about page styling*/

  main .about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  main .about .about-figure {
    width: 591px;
    margin: 24px;
  }

  main .about .about-figure .about-img {
    width: 100%;
  }

  main .about article p {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  /*services styling*/
  main .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  main .service .service-ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    list-style: none;
    gap: 10px;
  }

  main .service .service-ul .service-li {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 110px;
    gap: 10px;
  }

  main .service .service-ul .service-li h3 {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .service .service-ul .service-li article p {
    color: #000;

    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Footer Styles */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #d3ae64;
    padding: 1rem;
    margin-top: auto;
  }

  footer .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-ul .footer-li {
    display: flex;
    gap: 20px;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  footer .footer-ul .footer-li .icon {
    color: #ea4335;
  }
}

@media only screen and (min-width: 768px) {
  .index-header .index-nav .index-ul {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: transparent;
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  .index-header .index-nav .index-ul .index-li .index-link {
    font-size: 16px;
    color: #111;
    font-family: lato;
    text-decoration: none;
  }

  main .home {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/image1.png);
    background-size: cover;
    animation: slider 25s infinite linear;
  }

  /*services styling*/
  main .service {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  main .service .service-ul,
  main .menu .menu-ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    list-style: none;
    gap: 20px;
    margin-top: 50px;
  }

  main .service .service-ul .service-li {
    display: flex;
    flex-direction: column;
    width: 200px;
    height: 110px;
    gap: 10px;
  }

  main .service .service-ul .service-li h3 {
    color: #000;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .service .service-ul .service-li article p {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  main .menu .menu-ul .menu-li figure {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 100px;
  }

  main .menu .menu-ul {
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
  }

  main .menu .menu-ul .menu-li figure img {
    width: 100%;
    height: 100%;
  }

  main .menu .menu-ul .menu-li article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  main .menu .menu-ul .menu-li article h2 {
    color: #000;

    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  main .menu .menu-ul .menu-li article p {
    color: #000;

    text-align: center;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}

/* Landscape tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
  /*Header Style*/
  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    background-color: #d3ae64;
  }

  .index-header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 116px;
  }

  .index-header .logo-container .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  /* Navigation Styles */
  .index-header .index-nav .index-ul {
    position: absolute;
    top: 116px;
    right: 0;
    background-color: #d3ae64;
    top: 50px;
    right: 20px;
    background-color: transparent;
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  .index-header .index-nav .index-ul .index-li .index-link {
    font-size: 16px;
    color: #111;
    font-family: lato;
    text-decoration: none;
  }

  /* Logo Styles */
  .index-header .logo-container .logo-link .logo-name {
    color: #000;
    font-family: logo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Main Home Section */
  main .home {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/image1.png);
    background-size: cover;
    animation: slider 25s infinite linear;
  }

  @keyframes slider {
    0% {
      background-image: url(../img/image1.png);
    }

    15% {
      background-image: url(../img/image2.jpg);
    }

    30% {
      background-image: url(../img/image3.jpg);
    }

    45% {
      background-image: url(../img/image4.jpg);
    }

    60% {
      background-image: url(../img/image5.png);
    }

    75% {
      background-image: url(../img/image6.jpg);
    }
  }

  /*about page styling*/

  main .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  main .about .about-figure {
    width: 400px;
    height: 300px;
    margin: 24px;
  }

  main .about .about-figure .about-img {
    width: 100%;
    height: 100%;
  }

  main .about article {
    margin-bottom: 0;
    width: 400px;
  }

  main .about article p {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  /* Footer Styles */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #d3ae64;
    padding: 1rem;
    margin-top: auto;
  }

  footer .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-ul .footer-li {
    display: flex;
    gap: 20px;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  footer .footer-ul .footer-li .icon {
    color: #ea4335;
  }
}

/* Large desktops and laptops */
@media (min-width: 1200px) {
  /*Header Style*/
  .index-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 116px;
    background-color: #d3ae64;
  }

  .index-header .logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 108px;
    height: 116px;
  }

  .index-header .logo-container .logo-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
  }

  /* Navigation Styles */
  .index-header .index-nav .index-ul {
    position: absolute;
    top: 116px;
    right: 0;
    background-color: #d3ae64;
    top: 50px;
    right: 20px;
    background-color: transparent;
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  .index-header .index-nav .index-ul .index-li .index-link {
    font-size: 16px;
    color: #111;
    font-family: lato;
    text-decoration: none;
  }

  .index-header .index-nav .index-ul .index-li .index-link:hover {
    transition: all 500ms ease-in;
    color: #375d45;
    font-weight: 800;
  }

  /* Logo Styles */
  .index-header .logo-container .logo-link .logo-name {
    color: #000;
    font-family: logo;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  /* Main Home Section */
  main .home {
    width: 600px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(../img/image1.png);
    background-size: cover;
    animation: slider 25s infinite linear;
    margin: 0 20px;
  }

  @keyframes slider {
    0% {
      background-image: url(../img/image1.png);
    }

    15% {
      background-image: url(../img/image2.jpg);
    }

    30% {
      background-image: url(../img/image3.jpg);
    }

    45% {
      background-image: url(../img/image4.jpg);
    }

    60% {
      background-image: url(../img/image5.png);
    }

    75% {
      background-image: url(../img/image6.jpg);
    }
  }

  main .about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  main .about .about-figure {
    width: 400px;
    height: 300px;
    margin: 24px;
  }

  main .about .about-figure .about-img {
    width: 100%;
    height: 100%;
  }

  main .about article {
    margin-bottom: 0;
    width: 400px;
  }

  main .about article p {
    color: #000;
    font-family: Lato;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }

  .index-header .index-nav .index-ul {
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: transparent;
    width: 100%;
    height: 0px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 24px;
    padding-bottom: 16px;
    z-index: 1;
  }

  /* Footer Styles */
  footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    background-color: #d3ae64;
    padding: 1rem;
    margin-top: auto;
  }

  footer .footer-ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  footer .footer-ul .footer-li {
    display: flex;
    gap: 20px;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 12px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  footer .footer-ul .footer-li .icon {
    color: #ea4335;
  }
}
